#screen
  #race
    #finish
      Finish!
    - (0...4).each do
      .road
        .pavement.left.offset
        .pavement.right
    - (0...4).each do
      .road
        .pavement.left.offset0
        .pavement.right
    - (0...4).each do
      .road
        .pavement.left.offset1
        .pavement.right
    - (0...4).each do
      .road
        .pavement.left.offset2
        .pavement.right
    - (0...4).each do
      .road
        .pavement.left.offset3
        .pavement.right
  #gameover
    Game over
